/*
#id
.class
tag
*/


body {
    color: #000;
    background-color: aquamarine;
    background-image: url(https://static.ndmais.com.br/2025/05/lua-2-1200x675.jpg);

    background-repeat: no-repeat;
    /*repeat, no-repeat, repeat-x, repeat-y*/
    background-position: right top;
    /*left, right, top, bottom, center (x-horizontal, y-vertical)*/
    background-attachment: fixed;
    /*Scrool/ fixed*/

    /*Shorthand - jeito curto de escrever algo no css
    background: color image repeat attachemnt position
    */
    /* background: aquamarine url(https://static.ndmais.com.br/2025/05/lua-2-1200x675.jpg) no-repeat fixed right top; */
    background-size: 50%;
    /*(x,y)*/
}

#txtalinhamento{
    text-align: justify;/*left, right, center, justify*/
    text-indent: 20px;/*espaço de parágrafo*/
}

a{
    color: orange;
    text-decoration-line: underline;
    /* da linha - overline, underline, line-through, none*/
    text-decoration-color: red;/*Cor da decoração de texto*/
    text-decoration-style: dashed;/*estilo da decoração - solid, dotted, dashed, double, inherit, wavy*/
    text-decoration-thickness: 5px;/*Espessura da linha de decoração*/

    /*shorthand 
        text-decoration: line color style thickness;
    */

    /* text-decoration: underline blue dashed 25px; */

}

a:hover{
    /*Pseudoclasse - adiciona um estado especial - hover (passar do mouse)*/
    background-color: grey;
}

a:visited{
    color: rgb(25, 70, 169);
}

/* img:hover{
    width: 500px;
    cursor: pointer;/*Trnasformando o cursor em ponteiro de click*/


 p{
    text-transform: capitalize;/*Trnasformação do texto - Uppercase, lowercase, capitalize*/
 }   